<layout name="../../Layout/common" />
<!-- 综合区域 start 包括幻灯展示，商城快报 -->
	<div class="colligate w1210 bc mt10">
		<!-- 幻灯区域 start -->
		<div class="slide fl">
			<div class="area">
				<?php echo $ad1; ?>
			</div>
		</div>
		<!-- 幻灯区域 end-->
	
		<!-- 快报区域 start-->
		<div class="coll_right fl ml10">
			<div class="ad"><?php echo $ad2; ?></div>
			
			<div class="news mt10">
				<h2><a href="">更多快报&nbsp;></a><strong>网站快报</strong></h2>
				<ul>
					<?php foreach ($news as $k => $v): ?>
					<li <?php if(($k+1)%2 != 0) echo 'class="odd"'; ?>><a href="__CONTROLLER__/article/id/<?php echo $v['id']; ?>"><?php echo $v['title']; ?></a></li>
					<?php endforeach; ?>
				</ul>

			</div>
			
			<div class="service mt10">
				<h2>
					<span class="title1 on"><a href="">话费</a></span>
					<span><a href="">旅行</a></span>
					<span><a href="">彩票</a></span>
					<span class="title4"><a href="">游戏</a></span>
				</h2>
				<div class="service_wrap">
					<!-- 话费 start -->
					<div class="fare">
						<form action="">
							<ul>
								<li>
									<label for="">手机号：</label>
									<input type="text" name="phone" value="请输入手机号" class="phone" />
									<p class="msg">支持移动、联通、电信</p>
								</li>
								<li>
									<label for="">面值：</label>
									<select name="" id="">
										<option value="">10元</option>
										<option value="">20元</option>
										<option value="">30元</option>
										<option value="">50元</option>
										<option value="" selected>100元</option> 
										<option value="">200元</option>
										<option value="">300元</option>
										<option value="">400元</option>
										<option value="">500元</option>
									</select>
									<strong>98.60-99.60</strong>
								</li>
								<li>
									<label for="">&nbsp;</label>
									<input type="submit" value="点击充值" class="fare_btn" /> <span><a href="">北京青春怒放独家套票</a></span>
								</li>
							</ul>
						</form>
					</div>
					<!-- 话费 start -->
	
					<!-- 旅行 start -->
					<div class="travel none">
						<ul>
							<li>
								<a href=""><img src="__PUBLIC__/images/holiday.jpg" alt="" /></a>
								<a href="" class="button">度假查询</a>
							</li>
							<li>
								<a href=""><img src="__PUBLIC__/images/scenic.jpg" alt="" /></a>
								<a href="" class="button">景点查询</a>
							</li>
						</ul>
					</div>
					<!-- 旅行 end -->
						
					<!-- 彩票 start -->
					<div class="lottery none">
						<p><img src="__PUBLIC__/images/lottery.jpg" alt="" /></p>
					</div>
					<!-- 彩票 end -->

					<!-- 游戏 start -->
					<div class="game none">
						<ul>
							<li><a href=""><img src="__PUBLIC__/images/sanguo.jpg" alt="" /></a></li>
							<li><a href=""><img src="__PUBLIC__/images/taohua.jpg" alt="" /></a></li>
							<li><a href=""><img src="__PUBLIC__/images/wulin.jpg" alt="" /></a></li>
						</ul>
					</div>
					<!-- 游戏 end -->
				</div>
			</div>

		</div>
		<!-- 快报区域 end-->
	</div>
	<!-- -综合区域 end -->
	
	<div style="clear:both;"></div>

	<!-- 导购区域 start -->
	<div class="guide w1210 bc mt15">
		<!-- 导购左边区域 start -->
		<div class="guide_content fl">
			<h2>
				<span class="on">疯狂抢购</span>
				<span>热卖商品</span>
				<span>推荐商品</span>
				<span>新品上架</span>
				<span class="last">猜您喜欢</span>
			</h2>
			
			<div class="guide_wrap">
				<!-- 疯狂抢购 start-->
				<div class="crazy">
					<ul>
					<?php foreach ($goods1 as $k => $v): ?>
						<li>
							<dl>
								<dt><a href="__CONTROLLER__/goods/id/<?php echo $v['id']; ?>"><img src="<?php echo IMG_URL . $v['mid_logo']; ?>" alt="<?php echo $v['goods_name']; ?>" /></a></dt>
								<dd><a href=""><?php echo $v['goods_name']; ?></a></dd>
								<dd><span>售价：</span><strong> ￥<?php echo $v['shop_price']; ?>元</strong></dd>
							</dl>
						</li>
					<?php endforeach; ?>
					</ul>	
				</div>
				<!-- 疯狂抢购 end-->

				<!-- 热卖商品 start -->
				<div class="hot none">
					<ul>
						<?php foreach ($goods2 as $k => $v): ?>
						<li>
							<dl>
								<dt><a href="__CONTROLLER__/goods/id/<?php echo $v['id']; ?>"><img src="<?php echo IMG_URL . $v['mid_logo']; ?>" alt="<?php echo $v['goods_name']; ?>" /></a></dt>
								<dd><a href=""><?php echo $v['goods_name']; ?></a></dd>
								<dd><span>售价：</span><strong> ￥<?php echo $v['shop_price']; ?>元</strong></dd>
							</dl>
						</li>
					<?php endforeach; ?>
					</ul>
				</div>
				<!-- 热卖商品 end -->

				<!-- 推荐商品 atart -->
				<div class="recommend none">
					<ul>
						<?php foreach ($goods3 as $k => $v): ?>
						<li>
							<dl>
								<dt><a href="__CONTROLLER__/goods/id/<?php echo $v['id']; ?>"><img src="<?php echo IMG_URL . $v['mid_logo']; ?>" alt="<?php echo $v['goods_name']; ?>" /></a></dt>
								<dd><a href=""><?php echo $v['goods_name']; ?></a></dd>
								<dd><span>售价：</span><strong> ￥<?php echo $v['shop_price']; ?>元</strong></dd>
							</dl>
						</li>
					<?php endforeach; ?>
					</ul>
				</div>
				<!-- 推荐商品 end -->
			
				<!-- 新品上架 start-->
				<div class="new none">
					<ul>
						<?php foreach ($goods4 as $k => $v): ?>
						<li>
							<dl>
								<dt><a href="__CONTROLLER__/goods/id/<?php echo $v['id']; ?>"><img src="<?php echo IMG_URL . $v['mid_logo']; ?>" alt="<?php echo $v['goods_name']; ?>" /></a></dt>
								<dd><a href=""><?php echo $v['goods_name']; ?></a></dd>
								<dd><span>售价：</span><strong> ￥<?php echo $v['shop_price']; ?>元</strong></dd>
							</dl>
						</li>
					<?php endforeach; ?>
					</ul>
				</div>
				<!-- 新品上架 end-->

				<!-- 猜您喜欢 start -->
				<div class="guess none">
					<ul>
						<?php foreach ($goods5 as $k => $v): ?>
						<li>
							<dl>
								<dt><a href="__CONTROLLER__/goods/id/<?php echo $v['id']; ?>"><img src="<?php echo IMG_URL . $v['mid_logo']; ?>" alt="<?php echo $v['goods_name']; ?>" /></a></dt>
								<dd><a href=""><?php echo $v['goods_name']; ?></a></dd>
								<dd><span>售价：</span><strong> ￥<?php echo $v['shop_price']; ?>元</strong></dd>
							</dl>
						</li>
					<?php endforeach; ?>
					</ul>
				</div>
				<!-- 猜您喜欢 end -->

			</div>

		</div>
		<!-- 导购左边区域 end -->
		
		<!-- 侧栏 网站首发 start-->
		<div class="sidebar fl ml10">
			<h2><strong>网站首发</strong></h2>
			<div class="sidebar_wrap">
				<dl class="first">
					<dt class="fl"><a href=""><img src="__PUBLIC__/images/viewsonic.jpg" alt="" /></a></dt>
					<dd><strong><a href="">ViewSonic优派N710 </a></strong> <em>首发</em></dd>
					<dd>苹果iphone 5免费送！攀高作为全球智能语音血压计领导品牌，新推出的黑金刚高端智能电子血压计，改变传统测量方式让血压测量迈入一体化时代。</dd>
				</dl>

				<dl>
					<dt class="fr"><a href=""><img src="__PUBLIC__/images/samsung.jpg" alt="" /></a></dt>
					<dd><strong><a href="">Samsung三星Galaxy</a></strong> <em>首发</em></dd>
					<dd>电视百科全书，360°无死角操控，感受智能新体验！双核CPU+双核GPU+MEMC运动防抖，58寸大屏打造全新视听盛宴！</dd>
				</dl>
			</div>
			

		</div>
		<!-- 侧栏 网站首发 end -->
		
	</div>
	<!-- 导购区域 end -->
	
	<div style="clear:both;"></div>

	<!-- 循环顶级大类 -->
	<?php foreach ($catData as $k => $v): ?>
	<!--1F 电脑办公 start -->
	<div class="floor1 floor w1210 bc mt10">
		<!-- 1F 左侧 start -->
		<div class="floor_left fl">
			<!-- 商品分类信息 start-->
			<div class="cate fl">
				<h2><?php echo $v['cat_name']; ?></h2>
				<div class="cate_wrap">
					<ul>
						<?php foreach ($v['nsc'] as $k1 => $v1): ?>
						<li><a href="__CONTROLLER__/lst/catId/<?php echo $v['id']; ?>"><b>.</b><?php echo $v1['cat_name']; ?></a></li>
						<?php endforeach; ?>
					</ul>
					<p><?php echo $adModel->showAd($v['pos_id1']); ?></p>
				</div>
				

			</div>
			<!-- 商品分类信息 end-->

			<!-- 商品列表信息 start-->
			<div class="goodslist fl">
				<h2>
					<span class="on">推荐商品</span>
					<?php foreach ($v['rsc'] as $k1 => $v1): ?>
						<span><?php echo $v1['cat_name']; ?></span>
					<?php endforeach; ?>
				</h2>
				<div class="goodslist_wrap">
					<div>
						<ul>
							<?php foreach ($v['goods'] as $k2 => $v2): ?>
							<li>
								<dl>
									<dt><a href="__CONTROLLER__/goods/id/<?php echo $v2['id']; ?>"><img src="<?php echo IMG_URL . $v2['mid_logo']; ?>" alt="<?php echo $v2['goods_name']; ?>" /></a></dt>
									<dd><a href="__CONTROLLER__/goods/id/<?php echo $v2['id']; ?>"><?php echo $v2['goods_name']; ?></a></dd>
									<dd><span>售价：</span> <strong>￥<?php echo $v2['shop_price']; ?>元</strong></dd>
								</dl>
							</li>
							<?php endforeach; ?>
						</ul>
					</div>
					<?php 
					// 循环四个推荐商品下的商品的DIV
					foreach ($v['rsc'] as $k1 => $v1): ?>
					<div class="none">
						<ul>
							<?php foreach ($v1['goods'] as $k2 => $v2): ?>
							<li>
								<dl>
									<dt><a href="__CONTROLLER__/goods/id/<?php echo $v2['id']; ?>"><img src="<?php echo IMG_URL . $v2['mid_logo']; ?>" alt="<?php echo $v2['goods_name']; ?>" /></a></dt>
									<dd><a href="__CONTROLLER__/goods/id/<?php echo $v2['id']; ?>"><?php echo $v2['goods_name']; ?></a></dd>
									<dd><span>售价：</span> <strong>￥<?php echo $v2['shop_price']; ?>元</strong></dd>
								</dl>
							</li>
							<?php endforeach; ?>
						</ul>
					</div>
					<?php endforeach; ?>
				</div>
			</div>
			<!-- 商品列表信息 end-->
		</div>
		<!-- 1F 左侧 end -->
		
		<!-- 右侧 start -->
		<div class="sidebar fl ml10">
			<!-- 品牌旗舰店 start -->
			<div class="brand">
				<h2><a href="">更多品牌&nbsp;></a><strong>品牌旗舰店</strong></h2>
				<div class="sidebar_wrap">
					<ul>
					<?php foreach ($v['brands'] as $k1 => $v1): ?>
						<li><a href="<?php echo $v1['site']; ?>"><img src="<?php echo IMG_URL . $v1['logo']; ?>" alt="<?php echo $v1['brand_name']; ?>" /></a></li>
					<?php endforeach; ?>
					</ul>
				</div>
			</div>
			<!-- 品牌旗舰店 end -->
			
			<!-- 分类资讯 start -->
			<div class="info mt10">
				<h2><strong>分类资讯</strong></h2>
				<div class="sidebar_wrap">
					<ul>
					<?php foreach ($v['news'] as $k1 => $v1): ?>
						<li><a href="__CONTROLLER__/article/id/<?php echo $v1['id']; ?>"><b>.</b><?php echo $v1['title']; ?></a></li>
					<?php endforeach; ?>
					</ul>
				</div>
				
			</div>
			<!-- 分类资讯 end -->
			
			<!-- 广告 start -->
			<div class="ads mt10"><?php echo $adModel->showAd($v['pos_id2']); ?></div>
			<!-- 广告 end -->
		</div>
		<!-- 右侧 end -->

	</div>
	<!--1F 电脑办公 start -->
	<?php endforeach; ?>